<mat-toolbar color="primary" class="items-center">
  <div class="w-full flex justify-between items-center">
    <div class="flex items-center">
      <h1 class="m-0">Logo</h1>
    </div>
    <div>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>account_box</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <a mat-menu-item routerLink="/auth/sign-in">
          <div class="flex items center">
            <mat-icon>login</mat-icon>
            <span class="capitalize">sign in</span>
          </div>
        </a>
        <a mat-menu-item routerLink="/auth/sign-up">
          <div class="flex items-center">
            <mat-icon>app_registration</mat-icon>
            <span class="capitalize">sign up</span>
          </div>
        </a>
      </mat-menu>
    </div>
  </div>
</mat-toolbar>
